In [1]:
f = open('mytext.txt','w')
f.write('This is a line')
f.close()

#### Handling different files (json, csv, tsv, xls, xlsx)

In [3]:
f = open(r'data/supermarkets-commas.txt','r')
r = f.read()
f.close()

In [4]:
r

"ID,Address,City,State,Country,Name,Employees\n1,3666 21st St,San Francisco,CA 94114,USA, Madeira,8\n2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15\n3,332 Hill St,San Francisco,California 94114,USA,Super River,25\n4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10\n5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12\n6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20\n"

In [5]:
print(r)

ID,Address,City,State,Country,Name,Employees
1,3666 21st St,San Francisco,CA 94114,USA, Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [10]:
r1 = r.split('\n')
r1

['ID,Address,City,State,Country,Name,Employees',
 '1,3666 21st St,San Francisco,CA 94114,USA, Madeira,8',
 '2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15',
 '3,332 Hill St,San Francisco,California 94114,USA,Super River,25',
 "4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10",
 '5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12',
 '6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20',
 '']

In [11]:
r2 = [i.split(',') for i in r.split('\n')]
r2

[['ID', 'Address', 'City', 'State', 'Country', 'Name', 'Employees'],
 ['1', '3666 21st St', 'San Francisco', 'CA 94114', 'USA', ' Madeira', '8'],
 ['2',
  '735 Dolores St',
  'San Francisco',
  'CA 94119',
  'USA',
  'Bready Shop',
  '15'],
 ['3',
  '332 Hill St',
  'San Francisco',
  'California 94114',
  'USA',
  'Super River',
  '25'],
 ['4', '3995 23rd St', 'San Francisco', 'CA 94114', 'USA', "Ben's Shop", '10'],
 ['5',
  '1056 Sanchez St',
  'San Francisco',
  'California',
  'USA',
  'Sanchez',
  '12'],
 ['6',
  '551 Alvarado St',
  'San Francisco',
  'CA 94114',
  'USA',
  'Richvalley',
  '20'],
 ['']]

In [6]:
type(r)

str

In [7]:
# TASK - Try to convert this string into a dictionary, in more generic way

In [8]:
# d = {'ID':[1,2,3,4,5,6],
#     'Address':['366gkfd'],
#     ...}

In [12]:
# import csv

In [13]:
f = open(r'data/supermarkets-semi-colons.txt','r')
r = f.read()
f.close()

In [15]:
print(r)

ID;Address;City;State;Country;Name;Employees
1;3666 21st St;San Francisco;CA 94114;USA;Madeira;8
2;735 Dolores St;San Francisco;CA 94119;USA;Bready Shop;15
3;332 Hill St;San Francisco;California 94114;USA; Super River;25
4;3995 23rd St;San Francisco;CA 94114;USA;Ben's Shop;10
5;1056 Sanchez St;San Francisco;California;USA;Sanchez;12
6;551 Alvarado St;San Francisco;CA 94114;USA;Richvalley;20

In [16]:
f = open(r'data/supermarkets.csv','r')
r = f.read()
f.close()
print(r)

ID,Address,City,State,Country,Name,Employees
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [22]:
f = open(r'data/supermarkets.json','r')
json_data = f.read()
f.close()
print(json_data)

[
  {
    "ID": 1,
    "Address": "3666 21st St",
    "City": "San Francisco",
    "State": "CA 94114",
    "Country": "USA",
    "Name": "Madeira",
    "Employees": 8
  },
  {
    "ID": 2,
    "Address": "735 Dolores St",
    "City": "San Francisco",
    "State": "CA 94119",
    "Country": "USA",
    "Name": "Bready Shop",
    "Employees": 15
  },
  {
    "ID": 3,
    "Address": "332 Hill St",
    "City": "San Francisco",
    "State": "California 94114",
    "Country": "USA",
    "Name": "Super River",
    "Employees": 25
  },
  {
    "ID": 4,
    "Address": "3995 23rd St",
    "City": "San Francisco",
    "State": "CA 94114",
    "Country": "USA",
    "Name": "Ben's Shop",
    "Employees": 10
  },
  {
    "ID": 5,
    "Address": "1056 Sanchez St",
    "City": "San Francisco",
    "State": "California",
    "Country": "USA",
    "Name": "Sanchez",
    "Employees": 12
  },
  {
    "ID": 6,
    "Address": "551 Alvarado St",
    "City": "San Francisco",
    "State": "CA 94114",
    "Country": "USA",
    "Name": "Richvalley",
    "Employees": 20
  }
]

In [23]:
type(json_data)

str

In [20]:
# f = open(r'data/supermarkets.xlsx','r')
# r = f.read()
# f.close()
# print(r)

In [21]:
import json

In [ ]:
json.dumps()

In [24]:
k = json.loads(json_data)

In [28]:
len(k)

6

In [30]:
k[0]

{'ID': 1,
 'Address': '3666 21st St',
 'City': 'San Francisco',
 'State': 'CA 94114',
 'Country': 'USA',
 'Name': 'Madeira',
 'Employees': 8}

In [31]:
k[0]['Address']

'3666 21st St'

In [25]:
k

[{'ID': 1,
  'Address': '3666 21st St',
  'City': 'San Francisco',
  'State': 'CA 94114',
  'Country': 'USA',
  'Name': 'Madeira',
  'Employees': 8},
 {'ID': 2,
  'Address': '735 Dolores St',
  'City': 'San Francisco',
  'State': 'CA 94119',
  'Country': 'USA',
  'Name': 'Bready Shop',
  'Employees': 15},
 {'ID': 3,
  'Address': '332 Hill St',
  'City': 'San Francisco',
  'State': 'California 94114',
  'Country': 'USA',
  'Name': 'Super River',
  'Employees': 25},
 {'ID': 4,
  'Address': '3995 23rd St',
  'City': 'San Francisco',
  'State': 'CA 94114',
  'Country': 'USA',
  'Name': "Ben's Shop",
  'Employees': 10},
 {'ID': 5,
  'Address': '1056 Sanchez St',
  'City': 'San Francisco',
  'State': 'California',
  'Country': 'USA',
  'Name': 'Sanchez',
  'Employees': 12},
 {'ID': 6,
  'Address': '551 Alvarado St',
  'City': 'San Francisco',
  'State': 'CA 94114',
  'Country': 'USA',
  'Name': 'Richvalley',
  'Employees': 20}]

In [26]:
type(k)

list

In [32]:
d = {'color':['red','brown'],'shape':['square','circle']}
d

{'color': ['red', 'brown'], 'shape': ['square', 'circle']}

In [33]:
js = json.dumps(d)
js

'{"color": ["red", "brown"], "shape": ["square", "circle"]}'

In [34]:
type(js)

str

In [35]:
f = open('myjson.json','w')
f.write(js)
f.close()

In [36]:
# Opening the file directly through json module

In [37]:
f = open(r'data/supermarkets.json')
data = json.load(f)
f.close()

In [38]:
data

[{'ID': 1,
  'Address': '3666 21st St',
  'City': 'San Francisco',
  'State': 'CA 94114',
  'Country': 'USA',
  'Name': 'Madeira',
  'Employees': 8},
 {'ID': 2,
  'Address': '735 Dolores St',
  'City': 'San Francisco',
  'State': 'CA 94119',
  'Country': 'USA',
  'Name': 'Bready Shop',
  'Employees': 15},
 {'ID': 3,
  'Address': '332 Hill St',
  'City': 'San Francisco',
  'State': 'California 94114',
  'Country': 'USA',
  'Name': 'Super River',
  'Employees': 25},
 {'ID': 4,
  'Address': '3995 23rd St',
  'City': 'San Francisco',
  'State': 'CA 94114',
  'Country': 'USA',
  'Name': "Ben's Shop",
  'Employees': 10},
 {'ID': 5,
  'Address': '1056 Sanchez St',
  'City': 'San Francisco',
  'State': 'California',
  'Country': 'USA',
  'Name': 'Sanchez',
  'Employees': 12},
 {'ID': 6,
  'Address': '551 Alvarado St',
  'City': 'San Francisco',
  'State': 'CA 94114',
  'Country': 'USA',
  'Name': 'Richvalley',
  'Employees': 20}]

In [41]:
d

{'color': ['red', 'brown'], 'shape': ['square', 'circle']}

In [42]:
f = open('myjson2.json','w')
json.dump(d,f)
f.close()

##### Handling the CSV files

In [43]:
import csv

In [47]:
f = open(r'data/supermarkets.csv')
data = csv.reader(f)
for d in data:
    print(d)
f.close()

['ID', 'Address', 'City', 'State', 'Country', 'Name', 'Employees']
['1', '3666 21st St', 'San Francisco', 'CA 94114', 'USA', 'Madeira', '8']
['2', '735 Dolores St', 'San Francisco', 'CA 94119', 'USA', 'Bready Shop', '15']
['3', '332 Hill St', 'San Francisco', 'California 94114', 'USA', 'Super River', '25']
['4', '3995 23rd St', 'San Francisco', 'CA 94114', 'USA', "Ben's Shop", '10']
['5', '1056 Sanchez St', 'San Francisco', 'California', 'USA', 'Sanchez', '12']
['6', '551 Alvarado St', 'San Francisco', 'CA 94114', 'USA', 'Richvalley', '20']

In [48]:
f = open(r'data/supermarkets.csv')
data = csv.reader(f)

In [49]:
list(data)

[['ID', 'Address', 'City', 'State', 'Country', 'Name', 'Employees'],
 ['1', '3666 21st St', 'San Francisco', 'CA 94114', 'USA', 'Madeira', '8'],
 ['2',
  '735 Dolores St',
  'San Francisco',
  'CA 94119',
  'USA',
  'Bready Shop',
  '15'],
 ['3',
  '332 Hill St',
  'San Francisco',
  'California 94114',
  'USA',
  'Super River',
  '25'],
 ['4', '3995 23rd St', 'San Francisco', 'CA 94114', 'USA', "Ben's Shop", '10'],
 ['5',
  '1056 Sanchez St',
  'San Francisco',
  'California',
  'USA',
  'Sanchez',
  '12'],
 ['6',
  '551 Alvarado St',
  'San Francisco',
  'CA 94114',
  'USA',
  'Richvalley',
  '20']]

In [50]:
list(data)

[]

In [51]:
# Task 2: Ask users to enter their name and email, store them in JSON format/csv
# later on, whenever demanded,show the counts for every email domain.

peeyush sanam,peeyush.sanam@gmail.com
peeyush sanam,peeyush@techienest.in
ajay,ajay@gmail.com

{'gmail.com':2,'techienest.in':1}